# General
.DS_Store
.vscode/
.idea/
*.log

# Node.js (for both backend and mobile-app)
**/node_modules/
npm-debug.log

# Java (Maven)
**/target/
.project
.classpath

# React Native (specific)
/mobileapp/android/build/
/mobileapp/android/app/build/
/mobileapp/android/.gradle/
/mobileapp/ios/build/